
<footer>
    <div class="footer__banner">
        <div class="footer__logo">
            <svg><use xlink:href="#logo-mark" /></svg>
        </div>
    </div>

    <div class="footer__content">
        <section>

        </section>

        <section>
            &nbsp;
        </section>

        <section>

        </section>
    </div>

    <div class="footer__banner">
        <p class="footer__copy">
            &copy; Copyright 2017 by MapTop Software. All rights reserved.
        </p>
    </div>

</footer>
