<!DOCTYPE html>
<html>

    {% include head.html %}

    <body>
        {% include svg.html %}

        {% include header.html %}

        <main>
            <div class="content">
                <h2>
                    MapTop is mapping software for designers.
                </h2>

                <p>
                    Ever wanted to incorporate a map into your design but got
                    frustrated by the complicated software used by GIS professionals?
                    Me too. That's why we're building MapTop.
                </p>
                <p>
                    With MapTop, you'll be able to easily create and style maps
                    for use in your work.
                </p>

                <div class="front__sections">
                    <div class="front__section">
                        <h3>
                            <svg><use xlink:href="#icon-database" /></svg>
                            Import Data
                        </h3>
                        <p>
                            Quickly import data from Open Street Map, a community
                            driven project to make map data freely available to all.
                            From Countries and States, to Back-Roads and Lakes, anything
                            you want to put on a map is at your fingertips.
                        </p>
                    </div>
                    <div class="front__section">
                        <h3>
                            <svg><use xlink:href="#icon-paint-format" /></svg>
                            Styling and Profiling
                        </h3>
                        <p>
                            With MapTop, you can easily customize your maps, adjusting
                            color themes and tweaking map attributes. If you've
                            ever used a graphics editing program, you'll be right
                            at home here.
                        </p>
                    </div>
                    <div class="front__section">
                        <h3>
                            <svg><use xlink:href="#icon-share" /></svg>
                            Export Your Map
                        </h3>
                        <p>
                            Once your map is complete, you'll want to be able to
                            export it out of MapTop for use in your websites or
                            other documents. We save our data out as standard SVG files,
                            so you can take your design further however you want.
                        </p>
                    </div>
                </div>
            </div>
        </main>

        {% include footer.html %}
        {% include analytics.html %}
        {% include mailchimp.html %}
    </body>

</html>
