// Header component on the front page
header {
    background-color: $clr-black;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.05)), url(../images/map-forest-1024.jpg);
    background-size: cover;
    color: $clr-white;
    min-height: 66%;
    padding: 2.0em;
    text-align: center;

    @include media($desktop) {
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.05)), url(../images/map-forest-2048.jpg);
        display: flex;
        flex-direction: row;
        text-align: left;
    }
}

.header__logo-ctr {
    svg {
        height: 128px;
        width: 128px;

        @include media($desktop) {
            height: 372px;
            width: 372px;
        }
    }
}

use.header__logo {
    fill: $clr-blue;
}

.header__tagline {
    color: $clr-blue;
    flex: 1;
    font-size: 2.0em;
    font-weight: bold;
    line-height: 1.15em;
    padding: 1.0em;
    text-align: center;
    text-shadow: 0 0 32px $clr-black;

    @include media($desktop) {
        font-size: 3.0em;
        padding-top: 100px;
        text-align: left;
    }
}
