// Header component on the front page
header {
    background-color: $clr-black;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.05)), url(../images/map-forest-1024.jpg);
    background-size: cover;
    color: $clr-white;
    display: flex;
    flex-direction: row;
    min-height: 66%;
    padding: 2.0em;
    text-align: center;

    @include media($desktop) {
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.05)), url(../images/map-forest-2048.jpg);
        text-align: left;
    }
}

.header__logo {
    text-align: right;
    width: 256px;

    svg {
        height: 256px;
        width: 256px;
    }
}

.header__tagline {
    color: $clr-blue;
    flex: 1;
    font-size: 2em;
    font-weight: bold;
    line-height: 1.15em;
    padding: 0 1.0em;
    padding-top: 100px;
    text-align: left;
    text-shadow: 0 0 32px $clr-black;

    @include media($desktop) {
        font-size: 3.0em;
    }
}
