// Header component on the front page
header {
    background-color: $clr-black;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.05)), url(../images/map-forest-1024.jpg);
    background-size: cover;
    color: $clr-white;
    min-height: 66%;
    padding: 2.0em;
    text-align: center;

    @include media($desktop) {
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.05)), url(../images/map-forest-2048.jpg);
        display: flex;
        flex-direction: row;
        text-align: left;
    }
}

.header__logo-ctr {
    svg {
        height: 128px;
        width: 128px;

        @include media($desktop) {
            height: 372px;
            width: 372px;
        }
    }
}

use.header__logo {
    fill: $clr-blue;
}

.header__tagline {
    color: $clr-blue;
    flex: 1;
    font-size: 2.0em;
    font-weight: bold;
    line-height: 1.15em;
    padding: 1.0em;
    text-align: center;
    text-shadow: 0 0 32px $clr-black;

    @include media($desktop) {
        font-size: 3.0em;
        padding-top: 100px;
        text-align: left;
    }
}

$clr-btn-base: $clr-orange;
$btn-txt-size: 42px;

.header__signup {

    @include media($desktop) {
        text-align: right;
    }

    button {
        background: $clr-btn-base;
        background-image: linear-gradient(to bottom, lighten($clr-btn-base, 5%), $clr-btn-base);
        border: none;
        border-radius: 0.15em;
        box-shadow: 0 0 32px $clr-black;
        color: $clr-white;
        cursor: pointer;
        font-size: $btn-txt-size;
        margin: 2.0em 1.0em;
        padding: 0.5em 0.75em;

        &:hover {
            background-image: linear-gradient(to bottom, lighten($clr-btn-base, 10%), lighten($clr-btn-base, 0%));
        }
    }

    svg {
        fill: $clr-gray-90;
        height: 35px;
        margin-right: 0.25em;
        width: 42px;
    }
}
